<h1>Slected Customer</h1>

<table class="table">
  
  <thead class="table-dark">
    <tr>
      <th>Company Name</th>
      <th>Company Desc</th>
      <th>Company Start year</th>
      <th>Company GST NO</th>
      <th>Branches</th>
      <th>Technologies</th>
      <th>State</th>
      <th>Country</th></tr>
    </thead>
    <tbody>
      <tr >
        <th>{{mergeData?.cname}}</th>
        <td>{{mergeData?.cdesc}}</td>
        <td>{{mergeData?.csdet}}</td> 
        <td>{{mergeData?.cgn}}</td>
        <td>{{mergeData?.bran}}</td>
        <td>{{mergeData?.tech}}</td>
        <td>{{mergeData?.stat}}</td>
        <td>{{mergeData?.count}}</td>
      </tr>
    </tbody>
  </table>